html {
    background-color: black;
    font-family:"space Mono";
}

header {
    color:aqua;
    border: 1px solid aqua;
    font-size: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: aqua;
}

p {
    font-size: 16px;
    font-family: "space Mono";
    color: aqua;
    width: 300px;
    height: 400px;
    display: inline-block;
    margin-left: 200px;
    
}

h2 {
    color:aqua;
    margin-left: 200px;
}

.profile-pic {
    display: inline-block;
    height: 400px;
    width:300px;
    border-radius: 30px;
    margin-left :50px;
    margin-right: 200px;
    float:right;

}

.About-Me {
    margin-bottom: 100px;
}


body {
    color:aqua
}

ul {
list-style-type: decimal;
font-size: 30px;    
margin-left: 50px;
}






.second-div {
    display:flex;
    justify-content:space-between;
}    

.logo img {
    height: 100px;
    width: 150px;
}


@media only screen and (max-width: 1000px) {

h1 {
    font-size: 100px;
}

}